/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
h1 {
  font-size: 2em;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
b, strong {
  font-weight: 700;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
q {
  quotes: \201C \201D \2018 \2019;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
small {
  font-size: 80%;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
sup {
  top: -.5em;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
sub {
  bottom: -.25em;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
img {
  border: 0;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
body, figure {
  margin: 0;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 4, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 6, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  10% {
    transform: scale(1, 1);
  }
  35% {
    transform: scale(1, 1.7);
  }
  40% {
    transform: scale(1, 1.7);
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language] code, [class^="lang"] code, pre [data-language], pre [class^="lang"] {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  animation: 50ms ease-in-out 2s forwards fade-in;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language] code.rainbow, [class^="lang"] code.rainbow, pre [data-language].rainbow, pre [class^="lang"].rainbow {
  animation-delay: 0s;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language] code.loading, [class^="lang"] code.loading, pre [data-language].loading, pre [class^="lang"].loading {
  animation-play-state: paused;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre {
  position: relative;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div {
  animation-play-state: running;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(1) {
  background: #0081f5;
  animation: fade 1.5s 300ms linear infinite;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(2) {
  background: #5000f5;
  animation: fade 1.5s 438ms linear infinite;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(3) {
  background: #9000f5;
  animation: fade 1.5s 577ms linear infinite;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(4) {
  background: #f50419;
  animation: fade 1.5s 715ms linear infinite;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(5) {
  background: #f57900;
  animation: fade 1.5s 853ms linear infinite;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(6) {
  background: #f5e600;
  animation: fade 1.5s 992ms linear infinite;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(7) {
  background: #00f50c;
  animation: fade 1.5s 1130ms linear infinite;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .preloader {
  position: absolute;
  top: 12px;
  left: 10px;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .preloader div {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
  opacity: 0;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre {
  background-color: #000;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre, code {
  font-family: 'Monaco', 'Menlo', courier, monospace;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre {
  background: #272822;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .comment {
  color: #75715E;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .constant {
  color: #AE81FF;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .storage {
  color: #66D9EF;
  font-style: italic;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .string, pre .comment.docstring {
  color: #E6DB74;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .support.tag {
  color: #fff;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .keyword {
  color: #F92672;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .selector, pre .storage.modifier.extends {
  color: #F92672;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .inherited-class {
  font-style: italic;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .operator, pre .support.tag-name, pre .entity.tag {
  color: #F92672;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .entity, pre .support.attribute, pre .entity.attribute {
  color: #A6E22E;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .entity.name.type, pre .entity.name.struct {
  color: #fff;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .support, pre *[data-language="c"] .function.call {
  color: #66D9EF;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .css-property, pre .storage.function {
  font-style: italic;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #A6E22E;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language="html"] .support.operator, .lang-html .support.operator, .language-html .support.operator {
  color: #fff;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language="javascript"] .variable.super, .lang-javascript .variable.super, .language-javascript .variable.super {
  color: #66D9EF;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language="js"] .variable.super, .lang-js .variable.super, .language-js .variable.super {
  color: #66D9EF;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
[hidden] {
  display: none;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
h1 {
  font-size: 2em;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
b, strong {
  font-weight: 700;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
dfn {
  font-style: italic;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
q {
  quotes: \201C \201D \2018 \2019;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
small {
  font-size: 80%;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
sup {
  top: -.5em;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
sub {
  bottom: -.25em;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
img {
  border: 0;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
button, input {
  line-height: normal;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
body, figure {
  margin: 0;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 4, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
.wrapper {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
}
/* line 5, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
.wrapper--flex {
  display: flex;
}
/* line 7, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
.wrapper--flex-wrap {
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 499px) {
  /* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper {
    width: 90%;
  }
}

/* line 11, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
.wrapper--grey {
  background: #000;
  max-width: 90%;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  margin-top: 200px;
}
/* line 18, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
.wrapper--grey a {
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 11, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper--grey {
    padding: 0 40px;
    max-width: 95%;
    margin-top: 0px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 11, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper--grey {
    padding: 0 40px;
    max-width: 95%;
    margin-top: 0px;
  }
}
@media screen and (max-width: 499px) {
  /* line 11, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper--grey {
    padding: 0 40px;
    max-width: 95%;
    margin-top: 0px;
  }
}

/* line 12, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
#demo-grid .wrapper--flex div {
  height: 150px;
  background: #f6f4f5;
  box-sizing: border-box;
  width: 20%;
}
@media screen and (min-width: 960px) and (max-width: 1169px) {
  /* line 12, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
  #demo-grid .wrapper--flex div {
    box-sizing: border-box;
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 12, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
  #demo-grid .wrapper--flex div {
    box-sizing: border-box;
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 12, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
  #demo-grid .wrapper--flex div {
    box-sizing: border-box;
    width: 100%;
  }
}
@media screen and (max-width: 499px) {
  /* line 12, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
  #demo-grid .wrapper--flex div {
    box-sizing: border-box;
    width: 100%;
  }
}
/* line 20, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
#demo-grid .wrapper--flex div:nth-of-type(2n + 2) {
  background: #000;
}

/* line 2, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
pre {
  border: 4px solid #444;
}

/* line 4, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.up-five-title {
  color: #1E46F4;
  color: #fff;
  text-align: left;
  margin: 0;
  font-size: 4.4rem;
  line-height: 5.8rem;
  font-weight: 400;
  width: 70%;
  transition: 0.3s;
}
/* line 16, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.up-five-title:hover {
  color: #e5e5e5;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 4, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 4, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
@media screen and (max-width: 499px) {
  /* line 4, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-title {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

/* line 26, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.up-five-subtitle {
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
  margin: 30px auto 90px;
  line-height: 40px;
  color: #fff;
  font-weight: 400;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 26, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-subtitle {
    font-size: 1.8rem;
    margin: 0px auto 60px;
    line-height: 30px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 26, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-subtitle {
    font-size: 1.8rem;
    margin: 0px auto 60px;
    line-height: 30px;
  }
}
@media screen and (max-width: 499px) {
  /* line 26, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-subtitle {
    font-size: 1.8rem;
    margin: 0px auto 60px;
    line-height: 30px;
  }
}

/* line 41, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.primary-title {
  background: white;
  padding: 15px 26px 15px 26px;
  color: black;
  display: block;
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: normal;
  margin: 120px 0 20px 0;
  text-align: center;
}

/* line 54, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.secondary-title {
  color: black;
  position: relative;
  margin: 20px 0;
  padding-top: 16px;
  font-size: 2.6rem;
  line-height: 3.4rem;
  font-weight: 400;
}
/* line 62, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.secondary-title:after {
  content: "";
  background: #1E46F4;
  width: 40px;
  height: 3px;
  position: absolute;
  top: -10px;
  left: 0;
}

/* line 70, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
h1 {
  line-height: 3.2rem;
}

/* line 72, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.secondary-title-light {
  color: white;
  position: relative;
  margin: 0;
  padding-top: 16px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
}
/* line 80, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.secondary-title-light:after {
  content: "";
  background: white;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 88, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header {
  position: fixed;
  z-index: 10000;
  padding: 32px;
  top: 0;
  width: 100%;
  background: #000;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 88, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header {
    position: unset;
  }
}
@media screen and (max-width: 499px) {
  /* line 88, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header {
    position: unset;
  }
}
/* line 100, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header > .wrapper-outer {
  position: relative;
}
/* line 102, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .menu {
  background: #1E46F4;
  color: white;
  width: 422px;
  height: 100vh;
  max-width: 85vw;
  padding: 32px 0 40px 46px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: 32px solid #fff;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 102, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header .menu {
    max-width: 100vw;
    z-index: 100;
  }
}
@media screen and (max-width: 499px) {
  /* line 102, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header .menu {
    max-width: 100vw;
    z-index: 100;
  }
}
/* line 117, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header p {
  font-size: 1.4rem;
  width: 80%;
}
/* line 120, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header input[type=text] {
  border: none;
  border-bottom: 2px solid white;
  width: 80%;
  background: #1E46F4;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
}
/* line 128, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header input[type=submit] {
  background: transparent;
  color: white;
  border: none;
  padding: 10px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}
/* line 135, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .menu-logo {
  width: 63px;
}
/* line 137, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .menu-icon {
  width: unset;
}
/* line 139, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .close {
  font-size: 3rem;
  line-height: 3.7rem;
  cursor: pointer;
}
/* line 143, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* line 148, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .header-bar a {
  color: white;
  font-size: 2.2rem;
  text-decoration: none;
}
/* line 152, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .header-bar .search {
  display: flex;
}
/* line 154, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .header-bar .search .fa-search {
  position: relative;
  left: 10px;
  bottom: -10px;
}
/* line 159, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .header-bar .search-form input {
  border: none;
  border-bottom: 2px solid white;
  width: 290px;
  padding: 10px 20px;
  background: transparent;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 159, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header .header-bar .search-form input {
    width: 100%;
    color: white;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 159, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header .header-bar .search-form input {
    width: 100%;
    color: white;
  }
}
@media screen and (max-width: 499px) {
  /* line 159, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header .header-bar .search-form input {
    width: 100%;
    color: white;
  }
}
/* line 169, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header svg {
  cursor: pointer;
}
/* line 172, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header svg:hover .line1 {
  width: 33px;
}
/* line 174, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header svg:hover .line2 {
  width: 33px;
}
/* line 176, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header svg .line1 {
  transition: 0.3s;
}
/* line 178, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header ul {
  padding-left: 36px;
  padding: 82px 0 125px 36px;
  margin: 0;
  list-style: none;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 178, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header ul {
    padding: 42px 0 5px 0px;
  }
}
@media screen and (max-width: 499px) {
  /* line 178, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header ul {
    padding: 42px 0 5px 0px;
  }
}
/* line 185, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header ul li {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: normal;
  margin-bottom: 30px;
}
/* line 190, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header ul a {
  color: white;
}

/* line 192, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.hidden {
  display: none;
}

/* line 196, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.videos {
  margin-top: 60px;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 196, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .videos {
    margin-top: 20px;
  }
}
@media screen and (max-width: 499px) {
  /* line 196, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .videos {
    margin-top: 20px;
  }
}
/* line 201, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.videos .video-close {
  text-align: right;
  font-size: 17px;
  color: #1E46F4;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
/* line 209, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.videos .video-close:hover {
  color: black;
}
/* line 211, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.videos .video-close img {
  width: 20px;
}
/* line 213, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.videos .wrapper--flex {
  flex-wrap: wrap;
}
/* line 215, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.videos a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid;
}
/* line 219, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.videos h3 {
  margin: 0;
}
/* line 221, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.videos img {
  width: 40%;
  height: 100%;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 221, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .videos img {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 499px) {
  /* line 221, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .videos img {
    width: 100%;
    margin-bottom: 30px;
  }
}
/* line 227, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.videos .videos-info {
  margin-left: 30px;
  font-size: 1.7rem;
  font-weight: 200;
  width: calc(60% - 30px);
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 227, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .videos .videos-info {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 499px) {
  /* line 227, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .videos .videos-info {
    margin-left: 0;
    width: 100%;
  }
}

/* line 237, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer {
  margin: 0;
  width: 90%;
  margin: 0 auto;
  padding: 36px 0 100px 0;
}
/* line 242, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer img {
  width: 70px;
  position: absolute;
}
/* line 245, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 249, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer .image {
  float: left;
}
/* line 252, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer .info {
  width: 100%;
  font-size: 2.4rem;
  line-height: 4.2rem;
  margin-bottom: 20px;
}
/* line 258, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  border-bottom: 2px solid white;
}
/* line 264, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer a:hover {
  color: grey;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 237, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer {
    padding: 30px 0 20px 0;
  }
  /* line 268, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info-wrapper {
    width: unset;
  }
  /* line 270, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info {
    width: 50%;
    margin-top: 30px;
  }
  /* line 273, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info:first-of-type {
    width: 100%;
    margin-top: 0;
  }
  /* line 276, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer img {
    position: unset;
    float: left;
    margin-right: 15px;
    display: block;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 237, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer {
    padding: 30px 0 20px 0;
  }
  /* line 268, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info-wrapper {
    width: unset;
  }
  /* line 270, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info {
    width: 50%;
    margin-top: 30px;
  }
  /* line 273, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info:first-of-type {
    width: 100%;
    margin-top: 0;
  }
  /* line 276, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer img {
    position: unset;
    float: left;
    margin-right: 15px;
    display: block;
  }
}
@media screen and (max-width: 499px) {
  /* line 237, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer {
    padding: 30px 0 20px 0;
  }
  /* line 268, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info-wrapper {
    width: unset;
  }
  /* line 270, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info {
    width: 50%;
    margin-top: 30px;
  }
  /* line 273, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info:first-of-type {
    width: 100%;
    margin-top: 0;
  }
  /* line 276, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer img {
    position: unset;
    float: left;
    margin-right: 15px;
    display: block;
  }
}

/* line 282, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 auto;
}

/* line 288, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.social-bar {
  display: flex;
  width: 295px;
  padding: 10px 0px 10px 90px;
  background: #1E46F4;
  margin-left: 105%;
  font-size: 2rem;
}
/* line 295, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.social-bar a {
  color: white;
  margin-right: 24px;
  transition: 0.3s;
}
/* line 299, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.social-bar a:hover {
  transform: translateY(-15%);
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 288, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .social-bar {
    font-size: 3rem;
    margin-left: 0;
    width: unset;
    transform: translateX(60px);
    margin-top: 60px;
    padding: 8px 0px 8px 28px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 288, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .social-bar {
    font-size: 3rem;
    margin-left: 0;
    width: unset;
    transform: translateX(60px);
    margin-top: 60px;
    padding: 8px 0px 8px 28px;
  }
}
@media screen and (max-width: 499px) {
  /* line 288, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .social-bar {
    font-size: 3rem;
    margin-left: 0;
    width: unset;
    transform: translateX(60px);
    margin-top: 60px;
    padding: 8px 0px 8px 28px;
  }
}

/* line 309, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.paginate {
  padding-top: 60px;
  text-align: center;
  color: white;
  font-size: 1.8rem;
}
/* line 314, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.paginate .current {
  color: grey;
}
/* line 316, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.paginate a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
}
/* line 320, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.paginate em {
  font-style: normal;
  font-weight: bold;
}
/* line 323, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.paginate a, .paginate em, .paginate span {
  padding: 4px;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/elements/_button.sass */
.button {
  padding: 15px 26px;
  border: 2px solid #fff;
  border-radius: 300px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1.2px;
  transition: background-color 0.3s, opacity 0.3s;
}
/* line 10, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/elements/_button.sass */
.button:hover {
  color: #000;
  background: #fff;
}

/* line 13, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/elements/_button.sass */
.button.button-centered {
  width: max-content;
  margin: 60px auto 20px auto;
  display: block;
  text-align: center;
}

/* line 18, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/elements/_button.sass */
.button.button-dark {
  background: #000;
  color: white;
  border: 2px solid #000;
}
/* line 22, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/elements/_button.sass */
.button.button-dark:hover {
  color: #000;
  background: #fff;
}

/* line 1, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
span.hl {
  color: #000;
}

/* line 4, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content .lightbox {
  color: #000;
  background: #e5fff8;
  padding: 26px;
  margin: 18px;
}
/* line 9, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content .lightbox a {
  color: black;
  border-bottom: unset;
}

/* line 12, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
  width: 85%;
  margin: 120px auto;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 12, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-card-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 80px;
    grid-gap: 40px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 12, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-card-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 80px;
    grid-gap: 40px;
  }
}
@media screen and (max-width: 499px) {
  /* line 12, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-card-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 80px;
    grid-gap: 40px;
  }
}

/* line 22, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-card {
  width: 100%;
  background: white;
  color: black;
  padding: 50px;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 22, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-card {
    width: 100%;
    padding: 30px;
  }
}
@media screen and (max-width: 499px) {
  /* line 22, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-card {
    width: 100%;
    padding: 30px;
  }
}
/* line 30, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-card p {
  font-size: 1.4rem;
  font-family: "Space Mono", monospace;
  line-height: 2.7rem;
}
/* line 34, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-card .read-more {
  color: #1E46F4;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 24px;
  display: block;
  transition: 0.3s;
}
/* line 41, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-card .read-more:hover {
  color: #333333;
}

/* line 47, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.6px;
  font-weight: 200;
}
/* line 53, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content img {
  max-width: 100%;
}
/* line 55, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content h2 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px 0;
  font-size: 2.2rem;
}
/* line 61, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content h3 {
  font-weight: 400;
  margin: 30px 0 10px;
  font-size: 1.8rem;
  font-weight: 600;
}
/* line 66, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content a {
  color: white;
  transition: 0.3s;
}
/* line 69, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content a:hover {
  color: grey;
}

/* line 71, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info {
  text-transform: uppercase;
  font-size: 1.2rem;
  position: relative;
  padding-top: 1px;
  margin-top: 80px;
}
/* line 77, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info:after {
  content: "";
  background: #1E46F4;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 85, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info .tags {
  display: flex;
}
/* line 87, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info .tags ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: #1E46F4;
  padding-left: 6px;
}
/* line 95, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info .tags ul li:after {
  content: ",";
  margin: 0 3px 0 2px;
}
/* line 99, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info .tags ul li:last-of-type:after {
  content: "";
}

/* line 102, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post-admin-actions {
  margin-top: 40px;
}
/* line 104, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post-admin-actions .button {
  display: inline-block;
}
/* line 106, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post-admin-actions .button-warning {
  color: tomato;
}

/* line 108, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.button.more-posts {
  margin: 60px auto 180px;
}

/* line 112, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap {
  background: #1E46F4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 650px;
  min-height: 100vh;
  z-index: 1000000;
  color: white;
  padding: 100px 10% 100px 46px;
}
/* line 123, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap .roadmap-close {
  font-size: 3rem;
  position: absolute;
  top: 22px;
  left: 46px;
  cursor: pointer;
  font-family: "Space Mono", monospace;
}
/* line 130, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap h2.secondary-title-light {
  margin: 105px 0 50px;
  max-width: 200px;
  line-height: 2rem;
  text-transform: lowercase;
}
/* line 135, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap a {
  color: white;
  text-decoration: none;
}
/* line 138, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap .desc {
  font-size: 1.4rem;
  text-transform: uppercase;
  max-width: 360px;
  width: 90%;
  line-height: 1.8rem;
}
/* line 144, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap ol {
  list-style: none;
  padding-left: 120px;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 144, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .roadmap ol {
    padding-left: 0;
  }
}
@media screen and (max-width: 499px) {
  /* line 144, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .roadmap ol {
    padding-left: 0;
  }
}
/* line 149, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap li {
  counter-increment: item;
  position: relative;
  padding-left: 65px;
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  line-height: 2.7rem;
  max-width: 340px;
}
/* line 157, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap li:before {
  content: counter(item);
  inlin-display: block;
  color: #1E46F4;
  background: white;
  position: absolute;
  font-size: 2rem;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  left: 0;
  top: 0;
  font-family: "Work Sans", sans-serif;
}

/* line 173, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-edit input, .blog-edit textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
}
/* line 177, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-edit input {
  padding: 10px 20px;
}
/* line 179, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-edit textarea {
  height: 600px;
}

/* line 182, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 80px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 182, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-post {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 182, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-post {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 499px) {
  /* line 182, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-post {
    grid-template-columns: 1fr;
  }
}
/* line 188, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post img {
  max-width: 100%;
}
/* line 190, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post .sidebar {
  margin-top: 280px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 190, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-post .sidebar {
    margin-top: 0px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 190, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-post .sidebar {
    margin-top: 0px;
  }
}
@media screen and (max-width: 499px) {
  /* line 190, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-post .sidebar {
    margin-top: 0px;
  }
}
/* line 194, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post .sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 198, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post .sidebar ul li {
  margin-bottom: 80px;
}

/* line 6, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/styles.sass */
html {
  font-size: 62.5%;
}

/* line 8, /Users/trudymacnabb/Code/code-shopify-blog/app/assets/stylesheets/styles.sass */
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: #000;
}
