/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
h1 {
  font-size: 2em;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
b, strong {
  font-weight: 700;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
q {
  quotes: \201C \201D \2018 \2019;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
small {
  font-size: 80%;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
sup {
  top: -.5em;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
sub {
  bottom: -.25em;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
img {
  border: 0;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
body, figure {
  margin: 0;
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 4, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 6, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
body {
  background: #fff;
}

/* line 9, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
h1 {
  color: red;
}

/* line 13, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
hr {
  margin: 15% 5%;
  background-color: #000;
  border-top: solid 1px #999;
  border-left: none;
  height: 0px;
}

/* line 33, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.blog-post h2 {
  text-align: center;
}

/* line 41, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.side-bar {
  background-color: white;
  padding: 5%;
  margin-bottom: 1.5%;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.12);
  width: 98%;
}

/* line 57, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.spheres {
  height: 558px;
  background-color: white;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.12);
}

/* line 63, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.author-post {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 67, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.author-post h4 {
  text-align: center;
}
/* line 70, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.author-post .profile-img {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* line 77, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.profile-img {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* line 83, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.author-img {
  width: 30%;
  margin: 1%;
  border-radius: 50%;
}

/* line 88, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.title {
  font-size: 80px;
  color: whitesmoke;
  font-family: sans-serif;
  text-shadow: 0px 0px 7px black, 0px 0px 60px black, 0px 0px 60px black, 0px 0px 60px black;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 200px;
  /*background: rgba(255,255,255, 0.5);*/
}

/* line 99, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.title span {
  color: #83AF9B;
}

/* line 103, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/_blog_posts.css.scss */
.paginate {
  text-align: center;
}

/**
 * Monokai theme
 *
 * Adapted from Wimer Hazenberg's TextMate theme of the same name
 *
 * @author Wimer Hazenberg
 * @author Michael Fasani
 * @author Craig Campbell
 * @version 1.0.0
 */
/* line 11, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre {
  background: #272822;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

/* line 21, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre, code {
  font-family: 'Monaco', courier, monospace;
}

/* line 25, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .comment {
  color: #75715E;
}

/* line 29, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .constant {
  color: #AE81FF;
}

/* line 33, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .storage {
  color: #66D9EF;
}

/* line 37, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .string, pre .comment.docstring {
  color: #E6DB74;
}

/* line 41, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .support.tag {
  color: #fff;
}

/* line 45, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .keyword {
  /* @todo some keywords use this light blue, most use the pink */
  /*color: #66D9EF;*/
  color: #F92672;
}

/* line 51, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .selector {
  color: #F92672;
}

/* line 55, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .inherited-class {
  font-style: italic;
}

/* line 59, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .operator, pre .support.tag-name, pre .entity.tag {
  color: #F92672;
}

/* line 63, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .entity, pre .support.attribute, pre .entity.attribute {
  color: #A6E22E;
}

/* line 67, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .support, *[data-language="c"] .function.call {
  color: #66D9EF;
}

/* line 71, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
*[data-language="html"] .support.operator {
  color: #fff;
}

/* line 75, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .css-property, pre .storage.function {
  font-style: italic;
}

/* line 79, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/theme.css */
pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #A6E22E;
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
.container {
  box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 1170px) {
  /* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
  .container {
    padding: 0 5%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1169px) {
  /* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
  .container {
    padding: 0 5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
  .container {
    padding: 0 5%;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
  .container {
    padding: 0 5%;
  }
}
@media screen and (max-width: 599px) {
  /* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
  .container {
    margin: 0;
    padding: 0 12px;
  }
}
/* line 10, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
.container--flex {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex: 1 0 50%;
  justify-content: space-between;
}

/* line 16, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
.site-content {
  margin-left: 25%;
  padding: 20px 0;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 16, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
  .site-content {
    margin-left: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 16, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
  .site-content {
    margin-left: 0;
  }
}
@media screen and (max-width: 599px) {
  /* line 16, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
  .site-content {
    margin-left: 0;
  }
}
/* line 21, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
.site-content .col--three {
  background: rgba(220, 220, 220, 0.8);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  padding-bottom: 28%;
  margin-bottom: 30px;
}
/* line 29, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
.site-content .col--three:hover {
  background: rgba(207, 207, 207, 0.8);
}
/* line 31, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
.site-content .col--three h2 {
  font-size: 18px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  line-height: 28px;
}
/* line 41, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
.site-content .col--three a {
  color: #333;
  text-decoration: none;
  border-bottom: none;
}
/* line 45, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_container.sass */
.site-content .col--three a.post--link {
  border-bottom: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 3, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
.container .col--two {
  box-sizing: border-box;
  width: 50%;
}
@media screen and (max-width: 599px) {
  /* line 3, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
  .container .col--two {
    box-sizing: border-box;
    width: 100%;
  }
}
/* line 7, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
.container .col--three {
  box-sizing: border-box;
  width: 30%;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 7, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
  .container .col--three {
    box-sizing: border-box;
    width: 47.5%;
  }
  /* line 11, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
  .container .col--three:nth-of-type(3n + 3) {
    box-sizing: border-box;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  /* line 7, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
  .container .col--three {
    box-sizing: border-box;
    width: 100%;
  }
}
/* line 15, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
.container .col--twothirds {
  box-sizing: border-box;
  width: 66.5%;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 15, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
  .container .col--twothirds {
    box-sizing: border-box;
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  /* line 15, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
  .container .col--twothirds {
    box-sizing: border-box;
    width: 100%;
  }
}
/* line 21, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
.container .col--four {
  box-sizing: border-box;
  width: 25%;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 21, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
  .container .col--four {
    box-sizing: border-box;
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  /* line 21, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/base/_grid.sass */
  .container .col--four {
    box-sizing: border-box;
    width: 100%;
  }
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_generics.sass */
body {
  font-family: "Avenir", "Helvetica", sans-serif;
  color: #333;
}
/* line 4, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_generics.sass */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Avenir", "Helvetica", sans-serif;
  letter-spacing: 1.2px;
  font-weight: 100;
}
/* line 8, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_generics.sass */
body .center {
  text-align: center;
}
/* line 10, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_generics.sass */
body p {
  font-family: "Avenir", "Helvetica", sans-serif;
  font-weight: 100;
  line-height: 28px;
  word-break: break-word;
}
/* line 15, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_generics.sass */
body img {
  width: 100%;
}
/* line 20, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_generics.sass */
body a {
  color: #333;
  border-bottom: 3px solid #b5ffeb;
  text-decoration: none;
}
/* line 25, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_generics.sass */
body pre {
  padding: 25px;
}
/* line 27, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_generics.sass */
body .hidden {
  display: none;
}

/* line 29, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_generics.sass */
.notice, .alert, #notice {
  margin: 0;
}

/* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.sidebar {
  text-align: center;
  background: linear-gradient(to bottom, rgba(181, 255, 235, 0.4) 0%, rgba(181, 255, 235, 0.4) 59%, #b5ffeb 100%);
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 40px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar {
    width: 100%;
    position: static;
    padding: 8px 0;
    text-align: left;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar {
    width: 100%;
    position: static;
    padding: 8px 0;
    text-align: left;
  }
}
@media screen and (max-width: 599px) {
  /* line 1, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar {
    width: 100%;
    position: static;
    padding: 8px 0;
    text-align: left;
  }
}
/* line 15, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.sidebar p.description {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 15, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar p.description {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 15, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar p.description {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  /* line 15, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar p.description {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 22, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .logo {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    margin-left: 2%;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 22, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .logo {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    margin-left: 2%;
  }
}
@media screen and (max-width: 599px) {
  /* line 22, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .logo {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    margin-left: 2%;
  }
}
/* line 28, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.sidebar .logo img {
  width: 60px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 28, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .logo img {
    width: 100%;
    max-width: 60px;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 28, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .logo img {
    width: 100%;
    max-width: 60px;
  }
}
@media screen and (max-width: 599px) {
  /* line 28, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .logo img {
    width: 100%;
    max-width: 60px;
  }
}
/* line 33, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.sidebar .logo h1 {
  margin: 0;
  font-size: 16px;
  font-family: "Andale Mono", monospace;
  margin-bottom: 40px;
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 33, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .logo h1 {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 33, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .logo h1 {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  /* line 33, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .logo h1 {
    display: none;
  }
}
/* line 41, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.sidebar a {
  border: none;
}
/* line 44, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.sidebar > a.menu-link {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  border-bottom: none;
}
/* line 51, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.sidebar > a.menu-link:hover {
  background: white;
}
@media screen and (min-width: 960px) and (max-width: 1169px) {
  /* line 44, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar > a.menu-link {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1170px) {
  /* line 44, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar > a.menu-link {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 44, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar > a.menu-link {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  /* line 60, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar > a.menu-link:hover {
    background: transparent;
    color: #4d4d4d;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 44, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar > a.menu-link {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  /* line 60, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar > a.menu-link:hover {
    background: transparent;
    color: #4d4d4d;
  }
}
@media screen and (max-width: 599px) {
  /* line 44, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar > a.menu-link {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  /* line 60, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar > a.menu-link:hover {
    background: transparent;
    color: #4d4d4d;
  }
}
/* line 63, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.sidebar .form--subscribtion {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 63, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion {
    position: static;
    display: inline-block;
    width: 80%;
  }
  /* line 71, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input {
    display: inline-block;
  }
  /* line 73, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input[type=text] {
    width: 60%;
    margin-right: 8px;
  }
  /* line 76, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input[type=submit] {
    width: calc(40% - 8px);
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 63, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion {
    position: static;
    display: inline-block;
    width: 80%;
  }
  /* line 71, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input {
    display: inline-block;
  }
  /* line 73, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input[type=text] {
    width: 60%;
    margin-right: 8px;
  }
  /* line 76, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input[type=submit] {
    width: calc(40% - 8px);
  }
}
@media screen and (max-width: 599px) {
  /* line 63, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion {
    position: static;
    display: inline-block;
    width: 80%;
  }
  /* line 71, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input {
    display: inline-block;
  }
  /* line 73, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input[type=text] {
    width: 60%;
    margin-right: 8px;
  }
  /* line 76, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input[type=submit] {
    width: calc(40% - 8px);
  }
}
@media screen and (max-width: 599px) {
  /* line 79, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input[type=text] {
    width: 46%;
  }
  /* line 81, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input[type=submit] {
    width: calc(54% - 8px);
  }
}
/* line 83, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.sidebar .form--subscribtion input {
  width: 80%;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 83, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input {
    margin: 0 auto;
    padding: 4px;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 83, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input {
    margin: 0 auto;
    padding: 4px;
  }
}
@media screen and (max-width: 599px) {
  /* line 83, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  .sidebar .form--subscribtion input {
    margin: 0 auto;
    padding: 4px;
  }
}
/* line 88, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.sidebar .form--subscribtion input[type=text] {
  margin-bottom: 16px;
}

/* line 90, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
nav.container {
  text-align: right;
  margin-bottom: 40px;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 90, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  nav.container {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 599px) {
  /* line 90, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
  nav.container {
    margin-bottom: 20px;
  }
}
/* line 95, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
nav.container > a {
  display: inline-block;
  border: none;
  margin-right: 16px;
}

/* line 99, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
ul.social {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
}
/* line 118, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
ul.social li {
  width: 32px;
  heigth: 32px;
  border-radius: 50%;
  line-height: 32px;
  display: inline-block;
  margin-right: 6px;
}
/* line 126, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
ul.social li:last-of-type {
  margin-right: 0;
}
/* line 128, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
ul.social li a {
  color: #333;
  border-bottom: none;
}

/* line 131, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.nav--sign-in {
  width: 60%;
  margin-left: 40%;
  list-style: none;
  padding: 0;
  text-align: right;
}
/* line 137, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.nav--sign-in li {
  display: inline-block;
  margin-right: 20px;
}
/* line 140, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/modules/_menu.sass */
.nav--sign-in a {
  text-decoration: none;
  color: #333;
  border-bottom: none;
}

/* line 3, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
.profile-post {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

/* line 7, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin h1 {
  color: black;
}
/* line 10, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .col-half {
  padding: 40px;
}
/* line 14, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .col-half:nth-of-type(4n+1) a {
  color: #242424;
}
/* line 16, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .col-half:nth-of-type(4n+1) b {
  border-color: #242424;
}
/* line 21, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .col-half:nth-of-type(4n+2) a {
  color: #242424;
}
/* line 23, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .col-half:nth-of-type(4n+2) b {
  border-color: #242424;
}
/* line 31, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .col-half:nth-of-type(4n+4) a {
  color: #242424;
}
/* line 33, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .col-half:nth-of-type(4n+4) b {
  border-color: #242424;
}
/* line 35, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .button, #admin .button-warning {
  border: none;
  font-family: "Avenir", "Helvetica", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.1px;
  padding: 10px 20px;
  border-radius: 0;
  background: #555;
  margin-top: 20px;
  transition: all 0.3s;
  margin-left: 50px;
}
/* line 13, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/mixins/_button.sass */
#admin .button:hover, #admin .button:focus, #admin .button:active, #admin .button-warning:hover, #admin .button-warning:focus, #admin .button-warning:active {
  background: #5d772a;
}
/* line 38, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .button a, #admin .button-warning a {
  color: white;
}
/* line 40, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .button-warning {
  background: red;
}
/* line 42, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
#admin .button-warning:hover {
  background: #990000;
}

/* line 44, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_admin.sass */
.radio label {
  margin: 10px;
}

/* line 3, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_form-page.sass */
h1 {
  color: black;
}

/* line 6, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_form-page.sass */
form input, form textarea, form select {
  width: 80%;
  display: block;
  margin: 5% auto;
  padding: 2%;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 28px;
  font-family: "Avenir", "Helvetica", sans-serif;
}
/* line 17, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_form-page.sass */
form input[type='checkbox'], form input[type='file'] {
  margin-top: 10px;
}
/* line 19, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_form-page.sass */
form label {
  margin: 10%;
}
/* line 21, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_form-page.sass */
form textarea {
  height: 450px;
}
/* line 24, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_form-page.sass */
form .col-half input, form .col-half textarea, form .col-half select {
  width: 80%;
}
/* line 27, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_form-page.sass */
form .col-full input, form .col-full textarea, form .col-full select {
  width: 90%;
}

/* line 2, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_blog.sass */
.post h2.post--title {
  margin-bottom: 0;
}
/* line 4, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_blog.sass */
.post .post--title + p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 40px;
}
/* line 8, /Users/trudy/Code/code-shopify-blog/app/assets/stylesheets/states/_blog.sass */
.post img {
  margin-bottom: 40px;
}
