<br><br>
<div class="container">
  <div class="blog-post">
<h2>Formatting Blog Posts</h2>
    <p>For general formatting use standard html tags p, h1, div</p>

     <p>A header image can be added to the top of the blog.  Other images can be added through the normal image tag, but for now must come from an outside source.  Adding the class of center adds 'text-align: center;', use accordingly</p>

    <p>Wrap all code in <span>pre</span> tags and <span>code</span> tags and add the <span>data-language</span> attribute with the desired language.  Use "javascript" for d3</p>


<pre><code data-language="html">
  <!-- use a code tag and a pre tag* -->
  <pre><code data-language="javascript">
    $(document).ready(function(){
      $("p").click(function(){
          $(this).hide();
      });
    });
  </code></pre>
</code></pre>


<p>The above will render as such: </p>
<pre><code data-language="javascript">
  $(document).ready(function(){
    $("p").click(function(){
        $(this).hide();
    });
  });
</code></pre>

<p>the data-language "html" will render like this:</p>
<pre><code data-language="html">
<h1>The Title</h1>
<p>some text</p>
<a href="google.ca"></a>
</code></pre>


<p>Use "javascript" for d3js</p>
<pre><code data-language="javascript">
  var svg = d3.select(".spheres").append("svg")
      .attr("width", width)
      .attr("height", height)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
</code></pre>

<p>And "css" looks like this</p>
<pre><code data-language="css">
body {
  background: #eee;
}
h1{
  color: red;
}

hr {
  margin: 15% 5%
}
</code></pre>
</div>
</div>

<script>
  jQuery(document).ready(function($){
    Rainbow.color();
  });


</script>