
<div class="container">

  <%= render 'form' %>


  <%= link_to 'Preview', @blog_post, class: 'button' %>
  <%= link_to 'Destroy', @blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-warning' %>

  <br><br>

</div>
