<div class="container container--flex">
  <% @blog_posts.each do |post|  %>

    <div class="col--three">
      <div class="blog-post">
        <h2><%= link_to post.title, post%></h2>
        <%= link_to '', post, class:'post--link'%>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @blog_posts, class: 'paginate' %>

 <br>

 <script>
   jQuery(document).ready(function($){
     Rainbow.color();
     $('.previous_page').text('<<');
     $('.next_page').text('>>')
   });
 </script>
