<div class="container">
  <% @blog_posts.each do |post|  %>

    <div class="single--post">
      <h2><%= link_to post.title, post%></h2>
    </div>
  <% end %>
</div>

<%= will_paginate @blog_posts, class: 'paginate' %>

 <br>

 <script>
   jQuery(document).ready(function($){
     Rainbow.color();
     $('.previous_page').text('<<');
     $('.next_page').text('>>')
   });
 </script>
