$light-grey: rgba(220,220,220, 0.8)
.container
	:box-sizing border-box
	:position relative
	+display-for(xl lg md sm)
		:padding 0 5%
	+display-for(xs)
		:margin 0
		:padding 0 12px
	&--flex
		:display flex
		:align-items stretch
		:flex-wrap wrap
		:flex 1 0 50%
		:justify-content space-around
.site-content
	:margin-left 25%
	:padding 20px 0
	.col--three
		:background $light-grey
		:padding 20px
		:text-align center
		:cursor pointer
		:position relative
		:padding-bottom 28%
		&:hover
			:background darken($light-grey, 5%)
		h2
			:font-size 18px
			:width 100%
			:position absolute
			:top 50%
			:left 50%
			:transform translate(-50%, -50%)
			:margin 0
			:padding 0 20px
		a
			:color #333
			:text-decoration none
			:border-bottom none
		a.post--link
			:border-bottom none
			:position absolute
			:top 0
			:left 0
			:width 100%
			:height 100%
