<div class="container">
	<h1>Roadmap</h1>
	<p>A little direction on which tutorials to follow to get started with either theme or app development.</p>
	<h2>Getting Started With Theme Development</h2>
	<% @theme_posts.each do |post| %>
		<p>Step <%= post.road_map_order.to_words.capitalize%>:  <%= link_to post.title, blog_post_path(post) %></p>
	<% end %>
	

	<h2>Getting Started with App Development</h2>
	<% @app_posts.each do |post| %>
		<p>Step <%= post.road_map_order.to_words.capitalize%>:  <%= link_to post.title, blog_post_path(post) %></p>
	<% end %>
</div>