<div class="container">
	<h1>Roadmap</h1>
	<p>A little direction on which tutorials to follow to get started with either theme or app development.</p>
	<h2>Getting Started With Theme Development</h2>
	<p>Step One: <a href="/blog_posts/shopify-development-flow-theme-gem">Shopify Development Flow - Theme Gem</a></p>
	<p>Step Two: <a href="/blog_posts/shopify-development-flow-sass-compass-and-liquid">Shopify Development Flow - SASS, Compass, and Liquid</a></p>

	<h2>Getting Started with App Development</h2>
	<p>Step One: <a href="/blog_posts/setting-up-a-shopify-embedded-app-with-rails">Setting Up a Shopify Embedded App with Rails</a></p>
	<p>Step Two: <a href="/blog_posts/getting-started-with-routing-and-views-for-your-embedded-app">Getting Started with Routing and Views for Your Embedded App</a></p>
</div>