@import variables/colors

h1
	:color black
form
	input, textarea, select
		:width 80%
		:display block
		:margin 5% auto
		:padding 2%
		:border 1px solid #ddd
		:border-radius 4px
		:margin-bottom 30px
		:font-size 16px
		:line-height 28px
		:font-family $header-font
	input[type='checkbox'], input[type='file']
		:margin-top 10px
	label
		:margin 10%
	textarea
		:height 450px
	.col-half
		input, textarea, select
			:width 80%
	.col-full
		input, textarea, select
			:width 90%