// Place all the styles related to the front-page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "normalize";

body {
  background: #eee;
}
h1{
	color: red;
}

hr {
  margin: 15% 5%
}

.container {
}
.blog-post {
  background-color: white;
  padding: 5%;
  margin-bottom: 2%;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.12);
  width: 98%;

  h2 {
    text-align: center;
  }
  // h4 {
  //   margin-left: 15px;
  // }
}

.side-bar {
  background-color: white;
  padding: 5%;
  margin-bottom: 1.5%;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.12);
  width: 98%;
}

// form textarea, form input {
//   width: 80%;
//   display: block;
//   margin: 10% auto;
//   padding: 10%;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }
.spheres {
    height: 558px;
    background-color: white;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.12);
  }

.author-post {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  h4 {
    text-align: center;
  }
  .profile-img {
    width: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto
  }
}
.profile-img {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto
}
.author-img {
	width: 30%;
	margin: 1%;
	border-radius: 50%;
}
.title {
font-size: 80px;
color: whitesmoke;
font-family: sans-serif;
text-shadow: 0px 0px 7px black, 0px 0px 60px black, 0px 0px 60px black, 0px 0px 60px black;
position: absolute;
width: 100%;
text-align: center;
top: 200px;
/*background: rgba(255,255,255, 0.5);*/
}
.title span {
color:#83AF9B;
}

.paginate {
  text-align: center;
}